!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=edge,chrome=1', :http_equiv => 'X-UA-Compatible'}
    = stylesheet_link_tag 'site.css'
    = javascript_include_tag 'app.js'
    = yield_content :head
  %body{:class => page_classes}
    #main{:role => 'main'}
      = yield
    #todo
      %h2 Todo
      %ul
        %li Use JISON for language parsing?
        %li draw on a canvas
